@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
body {
    background-color: rgb(247, 247, 255);
}

nav,
.plants {
    max-width: 1140px;
    margin: auto;
}

.display-flex {
    display: flex;
}

.text-dark {
    color: black;
}

.text-mid-dark {
    color: #252432;
}

.text-light {
    color: rgba(137, 135, 161, 1);
}

.text-gray {
    color: rgba(0, 0, 0, 0.5);

}

.text-orange {
    color: #E95A08;
}

.text-size {
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

/* header styles */
/* navbar related styles */
.navbar {
    justify-content: space-between;
}

.nav-item {
    list-style-type: none;
    margin-right: 24px;
}

.nav-links {
    text-decoration: none;
}

.navbar,
.banner,
.about {
    max-width: 1140px;
    margin: auto;
}

.nav-home {
    font-weight: 600;
}

/* banner related styles */
.banner {
    margin-top: 220px;
    height: auto;
    align-items: flex-end;
    justify-content: space-between;
}

.banner-info {
    max-width: 570px;
    height: auto;
}

.banner-title {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}

/* plant related styles */
.plant-container {
    text-align: center;
}

.plant-title {
    font-weight: bold;
    font-size: 2.5rem;
}

.plant-description {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
    margin: 0 auto;
}

.image-type {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 20px 35px 0px 35px;
}

.image-price {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 16px 55px;
}

.btn-buy {
    background-color: #E95A08;
    width: 100%;
    height: 50px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

/* about styles */
.about {
    margin: 210px auto;
    justify-content: space-between;
}

.about-description {
    max-width: 540px;
    margin-right: 20px;
}

.about-description li {
    margin-top: 16px;
    font-size: 1.1rem;
}

.about-title {
    font-weight: bold;
    font-size: 2.5rem;
}

#image-badge {
    height: 286px;
    width: 286px;
    margin-left: -200px;
    margin-top: -130px;
}

#image-flower {
    width: auto;
    height: auto;
}

/* Responsive media query */
@media screen and (max-width:576px) {

    .hide {
        display: none;
    }

    .mobile-view {
        justify-content: end;
        display: flex;
        margin-right: auto;
    }

    .navbar img {
        width: 70px;
        height: 46px;
    }

    .banner {
        flex-direction: column-reverse;
        width: 100%;
    }

    .banner-title {
        font-size: 1.7rem;
    }

    .banner-description {
        font-size: 1.1rem;
    }

    .banner-image {
        margin-bottom: 28px;
    }

    .plant-title {
        font-size: 1.25rem;
    }

    .plant-description {
        font-size: 1rem;
    }

    .image-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 0 auto;
    }

    .image-container>div {
        width: 100%;
    }

    .image-container img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .image-price,
    .image-type {
        margin: 10px auto;
        font-size: 1rem;
    }

    .btn-buy {
        width: 100%;
        max-width: 100%;
    }

    .about {
        flex-direction: column;
    }

    .about-description ul {
        font-size: 1rem;
    }
}